body {
  font-family: "Lucida Grande";
  line-height: 2em;
  font-size: 1.2em;
  margin: 0 auto;
}

.navbar {
	font-size: 20px;
	padding: 60px;
	text-align: center;
	background-color: royalblue;
	color: whitesmoke;
}

.header1 {
	display: inline;
}

nav {
    background-color: #2CB5F5;
    padding: 5px;
    position: sticky;
    opacity: 1;
    top: 0;
}
nav a{
    font-size: 20px;
    font-weight: 400;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-left: 20px;
}

.navigation a {
	text-decoration: none;
	color: whitesmoke;
	padding-right: 5px;
}
.navigation a:hover{
	font-weight: bold;
	color: black;
}

.container1 {
	float: left;
	width: 75%;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.container1 p {
	text-align: justify;
}
.container {
	padding: 180px 0 100px 0;
	background-image: url("Project-Web-Progate/source-picture/bakpia.jpg");
	background-size: cover;
	text-align: center;
}
.img-feature1 {
	max-width: 620px;
	max-height: 540px;
	width: 100%;
	padding: 10px;
}

.card{
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    margin-top: 20px;
}